/* Custom normalize.css */
html {
  box-sizing: border-box;
}
html *,
html *:before,
html *:after,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

dl,
dd,
menu,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  list-style-type: decimal;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --dark: #1e293a;
  --green: #00fcbb;
}

#page {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: start;
  /* background: linear-gradient(to right, #f600b3, #ffaa76); */
}

.cards {
  display: flex;
  width: 38rem;
  height: 25rem;
  border-radius: 0.6rem;
  overflow: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.half {
  width: 50%;
}

.img-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  /* filter: grayscale(100%); */
  /* transform: scale(1.6); */
}

.half-right {
  background-color: var(--dark);
  padding: 1.5rem 1rem 4rem 1rem;
  position: relative;
}
.half-right .online {
  position: absolute;
  right: 2rem;
  color: #487098;
  font-size: 0.65rem;
}
.half-right .online:after {
  content: "";
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--green);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translate(-50%, -50%);
  margin-left: 0.2rem;
}
.half-right .name {
  font-size: 1.7rem;
  background: linear-gradient(#f83487, #fe8361);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.half-right h3 {
  color: var(--green);
  margin-top: 0.5rem;
}
.half-right button {
  background: linear-gradient(to right, var(--green), #00d8d4);
  font-size: 0.7rem;
  padding: 0.4rem 1.8rem;
  border-radius: 1.8rem;
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  cursor: pointer;
}
.half-right p {
  color: #487098;
  font-size: 0.65rem;
  margin-top: 0.4rem;
  margin-bottom: 0rem;
}

.triangle {
  position: absolute;
  bottom: -0.1rem;
  width: 100%;
  height: 12rem;
  background: linear-gradient(#fe8361, #f83487);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.triangle ul {
  width: 35%;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  justify-content: space-between;
}
.triangle ul li {
  margin-right: 5px;
}
.triangle a {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1rem;
  background-color: #000000c7;
  color: #f83487;
  border-radius: 50%;
  text-align: center;
  line-height: 1.2rem;
  transition: all 0.3s;
  padding: 8px;
  box-shadow: 0 0 11px 2px #0000008c;
}
.triangle a:hover {
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1rem;
  background-color: #f83487;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
  box-shadow: inset 0 0 11px 2px #0000008c;
}
.triangle span {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.55rem;
  color: white;
}

.fa-plus {
  position: absolute;
  bottom: 5.2rem;
  left: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: linear-gradient(#fd1999, #a60fe7);
  text-align: center;
  line-height: 2.5rem;
  font-size: 1rem;
  color: white;
}
