.account ul li {
  margin-right: 15px;
  font-size: 20px;
}
/* .iframe {
  max-height: 100%;
} */

a {
  text-decoration: none;
}

.datehide {
  display: none;
}

@media (max-width: 1240px) {
  .datehide {
    display: block;
  }
  .dateshow {
    display: none;
  }
}
